body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: url("img_fundo.png.png") no-repeat center center fixed;
  background-size: cover;
  color: white;
  text-align: center;
}

  background-size: cover;
  color: white;
  text-align: center;
}

header {
  background: rgba(0,0,0,0.6);
  padding: 20px;
}

.preview {
  margin-top: 40px;
}

.imagem-jogo {
  width: 300px;
  border-radius: 20px;
}

.botoes {
  margin-top: 20px;
}

.botao {
  display: inline-block;
  margin: 10px;
  padding: 12px 25px;
  background: #00c3ff;
  color: white;
  text-decoration: none;
  border-radius: 10px;
  font-size: 16px;
}

footer {
  background: black;
  padding: 10px;
  margin-top: 40px;
}
